{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Sistema de Controle de Estoque</title>
    <!-- Inclua aqui links para CSS externos ou internos -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Controle de Estoque</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'adicionar_produto' %}">Adicionar Produto</a></li>
                <!-- Adicione mais links conforme necessário -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo das páginas filhas será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Meu Sistema de Controle de Estoque. Todos os direitos reservados.</p>
    </footer>
    
    <!-- Inclua aqui links para JavaScript externo ou interno -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
