{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Sistema de Controle de Estoque</title>
    <!-- Inclua aqui links para CSS externos ou internos -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Seu arquivo de estilos personalizados -->
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <!-- Adicionais CSS do Bootstrap, se necessário -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-reboot.min.css' %}"> -->

</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema de Controle de Estoque</h1>
        <nav>
            <nav class="navbar navbar-expand navbar-dark bg-dark">
                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">
                                Início
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'adicionar_produto' %}">
                                Adicionar Produto
                            </a>
                        </li>
                        <!-- Mais itens de navegação aqui, se necessário -->
                    </ul>
                </div>
            </nav>
            
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- O conteúdo das páginas filhas será inserido aqui -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Meu Sistema de Controle de Estoque. Todos os direitos reservados.</p>
    </footer>
    
    <!-- Inclua aqui links para JavaScript externo ou interno -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <!--<script src="{% static 'js/script.js' %}"></script>-->
</body>
</html>
